<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>ProyectoProgramacionCorte2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>servlet for operation Admin</description>
		<display-name>AdminControllerServlet</display-name>
		<servlet-name>AdminControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AdminControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminControllerServlet</servlet-name>
		<url-pattern>/admincontrollerservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet for operation Psicologo</description>
		<display-name>PsicologoControllerServlet</display-name>
		<servlet-name>PsicologoControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.PsicologoControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PsicologoControllerServlet</servlet-name>
		<url-pattern>/psicologocontrollerservlet</url-pattern>
	</servlet-mapping>
</web-app>